<table border="0" cellspacing="0" cellpadding="0" >
	<tr><td class="FirstColumn">
	

<div class="PageHeader">
<h4> All Messages</h4>
</div>
<div class="PageContent">
<% if @messages.size==0%>
<div class="BlankBar">
    <h1><%= link_to "Post the first message for this project", new_proj_message_path(@proj),:class=>"Standout" %></h1>
    <p>Post messages, share project updates, ask questions, communicate.</p>
  </div>
<% end %>
<% @messages.each do |message| %>
<div>
	<span class='Date'><%=message.created_at.strftime('%A, %d %B %Y')%></span><br><br>
	
	<h2><%= link_to message.title, proj_message_path(@proj,message), :class=>"Title" %></h2>
	<div><%=message.body%></div>
	<div>
		<% if message.category_name =="no category" %>
			posted by <%=message.user.username%> 
		<% else %>
			posted by <%=message.user.username%> in <%=message.category_name%>
		<% end %>
		<% if message.user.username==@user.username%>
		<%= link_to "edit", edit_proj_message_path(@proj,message),:class=>"Standout"%>
		<% end %>
		<% if message.comments.size==0 %>
			<%= link_to "Post the first comment", proj_message_path(@proj,message),:class=>"Black" %>
		<%elsif message.comments.size==1 %>
			<%= link_to message.comments.size.to_s+" comment", proj_message_path(@proj,message),:class=>"Black" %>
		<% else %>
			<%= link_to message.comments.size.to_s+" comments", proj_message_path(@proj,message),:class=>"Black" %>
		<% end %>
	</div><br><br>
</div><br><br>
	
<% end %>

</div>

</td>
<td class="SecondColumn">
	<%= link_to image_tag("post_a_new_message.gif",:border=>0), new_proj_message_path(@proj) %><br><br>
	<h3 class="ListHeading">All Messages</h3>
	<ul>
		<% Category.all.each do |category|%>
			<li><%=link_to category.name, proj_category_path(@proj,category)%></li>
		<% end%>
	</ul>
</td>
</tr>
</table>