<table border="0" cellspacing="0" cellpadding="0" >
	<tr><td class="SingleColumn">
	

<div class="PageHeader">
<h4>Post a new message</h4>
</div>
<div class="PageContent">
	<div class="NewMessage">
		
<% form_for(@message) do |f| %>
  <%= f.error_messages %>
	Title<br><%= f.text_field  :title,:class=>"LargeTextBox" %><br><br>
	Category &nbsp;<%=select("message", "category_id", Category.find(:all).collect {|p| [ p.name, p.id ] }, {:include_blank => 'No Category'})%><br><br>
	
	Message body<br>
	<%= f.text_area :body %>
	
	<%= f.hidden_field :user_id, :value => @user.id %>
	<%= f.hidden_field :proj_id, :value => @proj.id %>
  <p>
    <%= f.submit 'Post this message' %> or <%= link_to "Cancel", proj_messages_path(@proj),:class=>"Standout" %>
  </p>
<% end %>
</div>
</div>
</td>
</tr>
</table>