<center>
	<div class="Login">
		<div id="Flash" class="FlashNotice">Please provide password to create admin account.</div>
		<%
			@user=User.new
			form_for :user, @user, :url=>{:action => "create_admin"} do |f|
		%>
		<b>admin</b><br> 
		<%= f.label "Password"%><br>
		<%= f.password_field :password%><br>
                <%= f.label "Confirm Password"%><br>
		<%= password_field_tag "confirm_password" %><br><br>
		<%= submit_tag 'Create admin' %>
		
		<%end%>
	</div>
</center>
