<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="FirstColumn">
			<div class="PageHeader">
				<h4>
					Latest activity across your projects
				</h4>
			</div>
			<div class="PageContent">
				<div class="ProjectStatus">
					<div>
						Projects
					</div>
					<ul>
						<% @user.milestones.list_of_already_late.each do |milestone| %>
							<li>&nbsp;<b class="Late"><%=Date.today- milestone.deadline%> days late</b>: <%=  milestone.name %> [ <%=milestone.proj.name%> | <%=milestone.user.username%>]</li>
						<% end %>
					</ul>
				</div><br><br>
				<% if  @user.milestones.list_of_already_late.size != 0 %>
				<div class="LateMilestones">
					<div>
						Late Milestones
					</div>
					<ul>
						<% @user.milestones.list_of_already_late.each do |milestone| %>
							<li>&nbsp;<b class="Late"><%=Date.today- milestone.deadline%> days late</b>: <%=  milestone.name %> [ <%=milestone.proj.name%> | <%=milestone.user.username%>]</li>
						<% end %>
					</ul>
				</div><br><br>
				<% end %>
				<% @user.list_projects.each do |proj| %>
					<div>
						<div class="ProjectHeader">
							<%=proj.name%> &nbsp;(<%=proj.proj_status%>)
						</div>
						<div>
							<table border="0">
							<% proj.list_todos.each do |todo| %>
								<tr><td class="TodoTd">To-Do</td><td class="ItemVal"><%= todo.iscompleted ? "<del>" : "" %> <%= todo.todo_text %> <%= todo.iscompleted ? "</del>" : "" %>&nbsp;(<%= link_to todo.todolist.name, proj_todolist_path(proj,todo.todolist),:class=>"GreyLink"%>)</td><td class="ItemStatus">
									<%= todo.iscompleted ? "completed by": "assigned to" %>
									
								</td><td class="ItemUser"><%=todo.user.username%></td><td class="ItemDate"><%= todo.updated_at.strftime('%d %b') %></td></tr>
							<% end %>
							<% proj.milestones.each do |milestone| %>
								<tr><td class="MilestoneTd">Milestone</td><td class="ItemVal"><%= milestone.iscompleted ? "<del>" : "" %> <%= milestone.name %> <%= milestone.iscompleted ? "</del>" : "( Due " + milestone.deadline.strftime('%d %b') + ")" %></td><td class="ItemStatus">
									<%= milestone.iscompleted ? "completed by": "assigned to" %>
									
								</td><td class="ItemUser"><%=milestone.user.username%></td><td class="ItemDate"><%= milestone.updated_at.strftime('%d %b') %></td></tr>
							<% end %>
							
							</table>
						</div>
					</div><br>
					
					
				<% end  %>
			</div>
			
		</td>
		<td class="SecondColumn">
			<div>
				<%= render :partial => "users/projects_list",:locals => {:projects=>@user.list_projects} %>
			</div>

			<% if @user.isadmin %>
			<%= link_to image_tag("new_project.gif",:border=>0), new_proj_path %><br>
				<div>
					
		 			<br>
					<% @activation=Activation.new
						form_for :activation, @activation, :url => {:controller=>'activations', :action=>'create'} do |f| %>
						<%= f.label "Email Address"%>
						<%= f.text_field :email_address%>
						<%= f.hidden_field :invitation_from_user, :value => @user.id%>
						<%= submit_tag 'Invite user' %>
					<% end%>

				</div>
			<% end %>
		</td>
	</tr>
</table>