<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="SingleColumn">
			<div class="PageHeader">
				<h4>
					<%=@user.username %>'s to-do items across all projects
				</h4>
			</div>
			<div class="PageContent">
			<% if @user.has_all_completed_todos %>	
				There are no to-dos assigned to you.<br>

				Choose another person with the pulldown to the right.
			<% end%>
				
				<% @projects.each do |project|%>
				 	<% if !@user.has_all_completed_todos %>
					
					<div class="TodoList">
						<h4><%= link_to project.name, proj_path(project)%></h4>
						<% project.todolists.each do |todolist|%>
						<% if @user.incomplete_todos(todolist).size !=0 %>
						<table border="0" class="TodolistTable" cellspacing="0" cellpadding="0">
							<tr>
								<td class="TodolistLeftColumn"><%= link_to todolist.name, proj_todolist_path(project,todolist)%></td>
								<td class="TodolistRightColumn">
									<ul>
										<%  @user.incomplete_todos(todolist).each do |todo| %>
											<li><%= check_box( 'TodoCheckBox_'+todo.id.to_s,"",:onclick=>"window.location='"+$relative_path+"complete/"+todo.id.to_s+"/todo'") %><%=todo.todo_text%></li>
										<%   end %>
									</ul>
								</td>
							</tr>
						</table>
						<% end %>
						<%end%>
					</div>
					<%end%>
				<%end%>
			</div>
		</div> 
</td>
</tr>
</table>   

 