<table border="0" cellspacing="0" cellpadding="0">
	<tr><td class="FirstColumn">
		<div class="PageHeader">
			<div class="PageHeaderLinks">
				<%= link_to "New message", new_proj_message_path(@proj),:class=>"Standout" %>&nbsp; | &nbsp;
				<%= link_to "New to-do list", new_proj_todolist_path(@proj),:class=>"Standout" %>&nbsp; | &nbsp;
				<%= link_to "New milestone", new_proj_milestone_path(@proj),:class=>"Standout" %>&nbsp; | &nbsp;
				<%= link_to "New ticket", new_proj_ticket_path(@proj),:class=>"Standout" %>
			</div>
		  <h4>
		    Project overview &amp; activity
		  </h4>
		</div>
	<div class="PageContent">
		<table border="0" cellspacing="5" cellpadding="5">
			<% @todos.each do |todo| %>
			<tr><td class="TodoTd">To-Do</td><td class="ItemVal"><%= todo.iscompleted ? "<del>" : "" %> <%= todo.todo_text %> <%= todo.iscompleted ? "</del>" : "" %>&nbsp;(<%= link_to todo.todolist.name, proj_todolist_path(todo.todolist.proj,todo.todolist),:class=>"GreyLink"%>)</td><td class="ItemStatus">
				<%= todo.iscompleted ? "completed by": "assigned to" %>
				
			</td><td class="ItemUser"><%=todo.user.blank? ? "" : todo.user.username %></td><td class="ItemDate"><%= todo.updated_at.strftime('%d %b') %></td></tr>
			<% end %>
		</table>
	</div>
	
</td>
<td class="SecondColumn">
	<h3 class="ListHeading">People on this project</h3>

	<ul>
		<% @proj.members_list.each do |member|%>
			<li>	<%=member.username%> </li>
			<% end %>
	</ul>
	<% if @user.isadmin %>
      <% if @proj_non_users.size!=0 %>		
		<% @users_proj=UsersProj.new
		form_for :users_projs, @users_proj, :url => {:controller=>'users_projs', :action=>'create'} do |f|

		%>
		<%= f.hidden_field :proj_id, :value => @proj.id%>
		add 
		<select name="users_projs[user_id]">
		<% @proj_non_users.each do |user|%>
		<option value='<%=user.id%>'><%=user.username%></option>
		<% end %>	
		</select>
		to this project
	
	<%= f.submit 'Submit' %>
	<% end%>
	<% end %>
	<%end%>
</td>
</tr>
</table>
